<mat-toolbar class="toolbar">
  <div class="logo-title" (click)="onHeaderClick()">
    <button mat-icon-button aria-label="logo icon">
      <mat-icon>library_books</mat-icon>
    </button>
    <span>{{ title }}</span>
  </div>
  <span class="spacer"></span>
  <button
    [matMenuTriggerFor]="accountMenu"
    mat-icon-button
    *ngIf="isAuthorized(); else showLoginBtn"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <ng-template #showLoginBtn>
    <button (click)="onLogin()" color="primary" mat-raised-button>
      {{ loginLabel }}
    </button>
  </ng-template>
</mat-toolbar>

<mat-menu #accountMenu="matMenu">
  <button mat-menu-item (click)="onLogout()">{{ logoutLabel }}</button>
</mat-menu>
