@use "./variables" as vars;
@use "./overlays" as ovs;
@use "./micro" as micro;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include ovs.overlays();

:root {
  @include vars.css-variables();
}
